/* Create fonts for every page */
body {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
  }

/* Sidebar navigation menu every page */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Name of the website for every page in the sidebar */
.sidebar a.name {
  display: inline-block;
  color: black;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  margin-left: 10px;
}
/* Sidebar links for every page */
.sidebar nav a {
  display: block;
  width: 150px;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 20px;
}

/* Active page */
.sidebar nav a.active {
  background-color: aqua;
  color: white;
}

/* Sidebar links on mouse-over */
.sidebar nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar nav a {
    float: left;
    font-size: 20px;
    width: 90px;
    text-align: center;
  }
  .sidebar a.name {
    margin-left: 180px;
  }
  div.content {
    margin-left: 0;  
  }
}

@media screen and (max-width: 560px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar nav a {
    float: left;
    font-size: 20px;
    width: 140px;
    text-align: center;
    margin-left: 40px;
  }
  .sidebar a.name {
    margin-left: 150px;
  }
  div.content {
    margin-left: 0;  
  }
}




  